* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
   flex-direction: column;
}
header {
    height: 10vh;
    background-color: rgb(0, 0, 0);
    border-bottom: solid 3px white ;
}
main {
    height: 70vh;
    background-color: rgb(253, 240, 56);
}
.percentual {
    height: 15vh;
    background-color: rgb(230, 22, 22);
    border-right: solid 2px white;
    border-top: solid 2px white;
}
footer {
    height:5vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    border-top: solid 5px white;
}



.filtros {
    display: flex;
    flex-direction: column;
    border-right: solid 2px white;
}


.tipos-demandas {
    height: 45%;
    background-color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 22.5% 22.5% 22.5% 22.5%;
    column-gap: 3%;
}
.andamento-demandas {
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
}

.demanda-tipo {
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
}
.demanda-andamento{
    background-color: gray;
}
.footer-sdds4{
    margin-top: 1.5px;
    background-color: rgb(10, 78, 155);
    border-radius: 30px;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-bottom: solid 1px white;
    border-right: solid 0.8px white;
}
.opcao-filtro, .relatorio-geral {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
.img-tipo-demanda {
    background-color: white;
    width: 25%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-tipo-demanda img {
    max-height: 90%;
    max-width: 100%;
}
.info-tipo-demanda {
    background-color: red;
    width: 75%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}