* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
header {
    height: 10vh;
    border-bottom: solid 3px white ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: white;
    font-family:'Times New Roman', Times, serif
}
main {
    height: 70vh;
}
.percentual {
    height: 15vh;
    border-top: solid 2px white;  
}
footer {
    height:5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    border-top: solid 5px white;
}
.filtros {
    display: flex;
}
.tipos-demandas {
    height: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 22.5% 22.5% 22.5% 22.5%;
    column-gap: 3%;
    row-gap: 10px;
}
.andamento-demandas {
    height: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
}

.demanda-tipo {
    border-radius: 20px;
    display: flex;
}
.demanda-andamento{
    border: solid 2.5px rgb(255, 255, 255);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.titulo-andamento {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgb(217, 221, 236);
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 5%;
}
.area-andamento {
    height: 95%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-top: 10px;
}
.demanda {
    margin-bottom: 15px;
    min-height: 50px;
    border: solid 2px white;
    width: 98%;
}
.footer-sdds4{
    margin-top: 1.5px;
    background-color: rgb(10, 78, 155);
    border-radius: 30px;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-bottom: solid 1px white;
    border-right: solid 0.8px white;
}
.opcao-filtro, .relatorio-geral {
    color: aliceblue;
    font-size: 1.3em;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px;
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.opcao-filtro select {
    width: 90%;
}
.img-tipo-demanda {
    width: 25%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-tipo-demanda img {
    max-height: 90%;
    max-width: 98%;
}
.info-tipo-demanda {
    color: white;
    width: 75%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
}
.titulo-tipo-demanda {
    height: 25%;
    font-size: 1.5em;
    border-bottom: solid 2.5px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contagem-tipo-demanda {
    height: 75%;
    display: flex;
}
.caixa-finalizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-left: 3%;
}
.api-info {
    font-size: 1.5em;
    color: rgb(247, 247, 247);
}

.red {
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.div-opaca {
    opacity: 0.3; /* Define a opacidade da div (80%) */
}

/* Media Query para telas menores que 768px */
@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    body {
        justify-content: center;
        height: auto;
        width: 100vw;
    }
    header {
        font-size: 0.7em;
        height: 150px;
    }
    main {
        height: auto;
    }
    .andamento-demandas {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 5px;
    }

    .percentual {
        font-size: 0.7em;
        height: 200px;
        border-top: solid 2px rgb(255, 255, 255);  
    }
    footer {
        height:50px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        border-top: solid 5px white;
    }
    .tipos-demandas {
        height: 600px;
        font-size: 0.7em;
        display: grid;
        justify-content: center;
        grid-template-columns: 45% 45%;
        grid-template-rows: 15% 15% 15% 15% 15% 15%;
        row-gap: 10px;
    }
    .demanda-tipo {
        height: 75px;
    }
    .demanda-andamento{
        background-color: cadetblue;
        min-height: 250px;
        margin-bottom: 15px;   
    }
}
@media (min-aspect-ratio: 3/2) {
    body {
        font-size: 17px;
    }
    header {
        height: 20vh;
        border-bottom: solid 3px white ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 0px;
    }
    .filtros {
        width: 100vw;
        display: flex;
        margin-top: 10px;
    }
    .opcao-filtro {
        font-size: 1em;
        display: flex;
        flex-direction: row;
        width: 500px;
        padding: 10px;
    }
    .opcao-filtro select {
        width: 90%;
    }
    main {
        height: 60vh;
        display: flex;
        flex-direction: row;
    }
    .tipos-demandas {
        font-size: 0.7em;
        width: 55%;
        height: 90%;
        column-gap: 1%;
    }
    .titulo-tipo-demanda {
        font-size: 1em;
        border-bottom: solid 2.5px white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .andamento-demandas {
        width: 45%;
        height: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 30% 30% 30%;
        column-gap: 3%;
    }
    .demanda-tipo {
        border: solid rgb(255, 255, 255) 2px;
        border-radius: 0;
        display: flex;
    }
    .percentual {
        font-size: 0.7em;
        height: 20vh;
        border-top: solid 2px white;
    }
    footer {
        font-size: 0.7em;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: antiquewhite;
        border-top: solid 5px white;
    }
    .img-tipo-demanda {
        width: 25%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titulo-andamento {
        font-size: 0.67em;
    }
}