body {
    background-color: black;
    display: flex;
    height: 100vh;
}
header {
    width: 15%;
    background-color: aqua;
}
main {
    width: 85%;
    background-color: aquamarine;
}

.tipos-demandas {
    height: 40%;
    border: solid pink 2px;
}

.andamento-demandas {
    height: 40%;
    border: solid pink 2px;
}